#search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 10px 0px;
  box-shadow: 0px 0px 3px 1px #aaaaaa;
}

#search-container {
  display: flex;
  flex-direction: row;
}

#search-bar {
  height: 30px;
  width: 80vw;
  max-width: 400px;
  padding: 0px 0px 0px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#search-button {
  display: flex;
  border: 1px solid #cccccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0;
  padding: 0px 8px;
  align-items: center;
  cursor: pointer;
  background: white;
  height: 30px;
  color: #888888;
}

#search-results-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
}

.search-result {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;

  #thumbnail {
    height: 100px;
  }

  #title {
    width: 600px;
  }

  #duration {
    width: 100px;
  }

  #views {
    width: 100px;
  }

  #download {
    cursor: pointer;
  }
}
